<div class="container">
  <div class="row">
    <div class="col-sm-12 text-center">
      <h2>Happy data statistics real-time dashboard</h2>
      <hr />
      <div class="stat">
        <h1><small>Total votes</small>{{ scores.length }}</h1>
      </div>
      <div class="stat">
        <h1><small>Average vote</small>{{ averageScore }}</h1>
      </div>
      <div class="bars">
        <h1><small>Overzicht</small></h1>
        <ul>
          <li><span>1</span><div class="bar-test" [style.width]="percentage1+'%'"></div></li>
          <li><span>25</span><div class="bar-test" [style.width]="percentage25+'%'"></div></li>
          <li><span>50</span><div class="bar-test" [style.width]="percentage50+'%'"></div></li>
          <li><span>75</span><div class="bar-test" [style.width]="percentage75+'%'"></div></li>
          <li><span>100</span><div class="bar-test" [style.width]="percentage100+'%'"></div></li>
        </ul>
      </div>
      <div class="vote-stream" id="live-feed">
        <ul>
          <li *ngFor="let score of scores">{{ score }}</li>
        </ul>
      </div>
    </div>
  </div>
</div>


