/* You can add global styles to this file, and also import other style files */
.main {
  width: 800px;
  padding: 20px;
}

.red {
  color: #b71c1c;
}
.red-bg {
  background-color: #b71c1c;
}

.amber {
  color: #ff8f00;
}
.amber-bg {
  background-color: #ff8f00;
}

.yellow {
  color: #ffea00;
}
.yellow-bg {
  background-color: #ffea00;
}

.lime {
  color: #b2ff59;
}
.lime-bg {
  background-color: #b2ff59;
}

.green {
  color: #64dd17;
}
.green-bg {
  background-color: #64dd17;
}
